html, body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.cover-heading {
    font-family: 'Varela Round', sans-serif;
    color: rgba(195, 255, 195, .8);
    margin-bottom: 0.25rem;
}

.translucent {
    color: rgba(255, 255, 255, .5);
}

form {
    margin-top: 2.75rem;
}

p.lead {
    /* font-family: 'Varela Round', sans-serif; */
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: font-family: 'Lato', sans-serif;1rem;
    font-family: 'Lato', sans-serif;
}

.submit {
    color: #ddd;
    background: rgba(100, 135, 245, 0.8);
    border-color: rgba(100, 135, 245, 0.8);
    border-radius: 0 0.25rem 0.25rem 0;
    transition: .3s;
}

.submit:hover {
    color: #eee;
    background: rgba(100, 155, 255, 1);
    border-color: rgba(100, 155, 255, 1);
}

.sitelink {
    color: #4fd787;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
    transition: 0.2s;
}

.sitelink:hover {
    color: rgba(200, 255, 200, .9);
    text-decoration: none;
}

#clickbox {
    color: #4fd787;
    background: none;
    border-radius: 0.5em;
    border: 2px solid;
    display: inline-block;
    font-size: 1.25em;
    margin: 0.5rem 0;
    opacity: 0%;
    outline: none;
    padding: 0.5em 1em;
    pointer-events: none;
    text-decoration: none;
    transition: 0.3s;
}

/* attributes need to be `!important` to override jquery element styling */
#clickbox:hover {
    background: #3a463a;
    color: rgba(170, 255, 170, 1) !important;
    border-color: #4fd787 !important;
}
