/* Chessli styling (inspired by bootstrap 'cover' example) */


/* ---------- fonts import ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Varela+Round&display=swap');



/* ---------- global organization ---------- */
html, body {
    height: 100%;
    background-color: #333;
}

body {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.page-content {
    width: 80%;
    max-width: 42em;
    display: flex;
    flex-direction: column;
}


/* ---------- main content ---------- */
h1 {
    font-family: 'Varela Round', sans-serif;
    color: #C3FFC3CC;
    margin-bottom: 0.25rem;
}

p.lead {
    color: #DEDEDE;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

footer p {
    color: #909090;
}

.sitelink {
    color: #4FD787;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
    transition: 0.2s;
}

.sitelink:hover {
    color: #C8FFC8E6;
    text-decoration: none;
}


/* ---------- query ---------- */

.user-interface {
    max-width: 80%;
    margin: auto;
}

form {
    margin-top: 2.75rem;
}

@media (max-width: 674px) {
    form {
        margin-top: 3rem;
    }
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem #6487F54D;
}

.submit {
    color: #EEE;
    background: #6487F5;
    border-color: #6487F5;
    border-radius: 0 0.25rem 0.25rem 0;
    transition: .2s;
}

.submit:hover {
    color: #EEE;
    background: #79A9FF;
    border-color: #79A9FF;
}

.submit:active {
    color: #eee;
    background: #5163cb;
    border-color: #5163cb;

}


/*---------- result display ---------- */

#clickbox {
    color: #4FD787;
    background: none;
    border-radius: 0.5em;
    border: 2px solid;
    display: inline-block;
    font-size: 1.25em;
    margin: 0.5rem 0;
    opacity: 0%;
    outline: none;
    padding: 0.5em 1em;
    pointer-events: none;
    text-decoration: none;
    transition: 0.3s;
}

/* need '!important' to override jquery inline-styling */
#clickbox:hover {
    background: #3A463A;
    color: #AAFFAA !important;
    border-color: #4FD787 !important;
}
